body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: white;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 60%;
    
}

.card__form {
	width: 30%;
	height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    transition: 0.3s;
}

.card__form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__form__text {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 25px 16px;
}

.card__form__number-style {
    text-align: right;
    font-size: 250px;
    font-family: 'Roboto', sans-serif;
    margin: 70px;
}