.title-form {
    background-color: rgb(220, 232, 238);
    border: 2px solid rgb(74, 142, 168);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 50px auto 0;
    position: relative;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title-form__date{

    text-align: right;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.title-form__text-header {

    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 900;
    font-size: 17px;
}
.title-form__text-inform {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 15px;
}